<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Сигурни ли сте, че искате да изтриете тази кауза.</h2>

        <form method="post">
            <input type="text" class="fadeIn second" name="name" value="{{cause.name}}" disabled>
            <textarea type="text" class="fadeIn third" name="description" disabled>{{cause.description}}</textarea>
            <input type="number" class="fadeIn third" name="goal" value="{{cause.goal}}" disabled>
            <input type="number" class="fadeIn third" name="goal" value="{{cause.raised}}" disabled>
            <input type="submit" class="fadeIn fourth" value="Изтрий">
        </form>
    </div>
</div>