<div class="wrapper fadeInDown" id="login-form">
    <div id="formContent">
        <h2 class="active">Добави администратор</h2>
        <form method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Потребителско име" required>
            <input type="text" class="fadeIn third" name="firstName" placeholder="Име" required>
            <input type="text" class="fadeIn third" name="lastName" placeholder="Фамилия" required>
            <input type="submit" class="fadeIn fourth" value="Добави администратор">
        </form>
    </div>
</div>