<div id="profile">
    <h2>Профил</h2>
    <img id="profile-img" src="/img/userIcon.png" alt="User Icon" />
    <p><span>Име:</span> {{firstName}}</p>
    <p><span>Фамилия:</span> {{lastName}}</p>
    <p>
        <span><i class="fas fa-envelope-square"></i></span>
        {{email}}
    </p>
    <p><span>Възраст:</span> {{age}}</p>
</div>