<script src="/frontend/controllers/userController.js"></script>

<div class="wrapper fadeInDown" id="register-form">
    <div id="formContent">
        <h2 class="active">Регистриране</h2>

        <div class="fadeIn first">
            <img src="/img/userIcon.png" id="icon" alt="User Icon" />
        </div>

        <form method="post">
            <input type="text" class="fadeIn second" name="username" placeholder="Потребителско име" required>
            <input type="email" class="fadeIn second" name="email" placeholder="Email" required>
            <input type="text" class="fadeIn second" name="verificationCode" placeholder="Код за потвърждение" required>
            <input type="hidden" class="fadeIn second" name="generatedCode" value="">
            <input id="verify" type="button" class="fadeIn second" value="Изпрати код">
            <input type="password" class="fadeIn third" name="password" placeholder="Парола" required>
            <input type="password" class="fadeIn third" name="confirmedPassword" placeholder="Потвърждаване на парола" required>
            <input type="text" class="fadeIn third" name="firstName" placeholder="Име" required>
            <input type="text" class="fadeIn third" name="lastName" placeholder="Фамилия" required>
            <input type="number" class="fadeIn third" name="age" placeholder="Възраст">
            <input type="submit" class="fadeIn fourth" value="Регистриране">
        </form>
    </div>
</div>