<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Добави категория на публикация</h2>

        <form method="post" action="/blog/category/add">
            <input type="text" class="fadeIn second" name="name" placeholder="Име на категория на публикация" required>
            <input type="submit" class="fadeIn third" value="Добави">
        </form>
    </div>
</div>